body {
  background: no-repeat center/100% url("../media/background_sky.jpg");
  background-size: cover;
  background-color: black;
}
.container {
  display: block;
  max-width: width 100%;
}

.weatherApp-wrapper {
  max-width: 600px;
  margin: 40px auto 0px auto;
}

.weatherApp {
  padding: 20px;
  border: 2px solid #0a043c;
  box-shadow: 3px 3px 3px 3px rgb(28, 28, 65);
  border-radius: 10px;
  background-color: #fdd7d7;
  font-family: "Pragati Narrow", sans-serif;
}

input.searchbutton {
  display: block;
  position: relative;
  margin: 0 0 10px 0;
  padding: 0px 8px;
  right: 13px;
  background: rgb(253, 241, 235);
  border-radius: 3px;
  border: 1px solid rgb(201, 201, 201);
  box-shadow: 1px 1px 1px 1px rgb(28, 28, 65, 0.4);
  font-size: 20px;
  color: rgb(43, 43, 43);
}
input #text-input {
  font-size: 25px;
  border: 1px solid rgb(201, 201, 201);
  box-shadow: 1px 1px 1px 1px rgb(28, 28, 65);
}

h1 {
  color: rgb(43, 43, 43);
  text-align: left;
  font-size: 45px;
  font-weight: 100;
  height: 30px;
  line-height: 28px;
  width: 618px;
  margin-bottom: 3px;
  margin-top: 5px;
}

h3 {
  font-size: 25px;
  font-weight: 100;
  line-height: 19px;
  color: rgb(135, 135, 135);
  text-align: center;
}
h3.forecast-time {
  font-size: 20px;
  font-weight: 100;
  line-height: 19px;
  color: rgb(43, 43, 43);
  text-align: center;
}
ul {
  list-style-type: none;
  position: relative;
  margin: 2px 0px 0px 0px;
  padding: 0px;
}
li.weatherInfo {
  font-size: 25px;
  margin-bottom: 10px;
}
span#felt-temp {
  font-weight: bold;
}
span#current-wind-speed {
  font-weight: bold;
}
span#current-humidity {
  font-weight: bold;
}
li {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 20px;
  font-weight: 100;
  line-height: 19px;
  color: rgb(43, 43, 43);
}
li:first-letter {
  text-transform: capitalize;
}
li#description {
  position: relative;
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 25px;
  font-weight: bold;
}
.overview {
  margin-bottom: 15px;
  margin-top: 8px;
}
.weather-temperature img {
  margin-right: 15px;
  color: rgb(43, 43, 43);
  display: block;
  float: left;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 64px;
  line-height: normal;
  margin-top: 5px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(43, 43, 43);
  float: left;
  display: block;
  font-size: 64px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin-top: -11px;
  margin-right: 0px;
  line-height: normal;
}
.weather-temperature .metrics {
  position: relative;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 6px;
  margin-left: 5px;
  color: rgb(43, 43, 43);
  display: block;
  float: left;
  font-style: normal;
  font-weight: bold;
  height: 18px;
  line-height: normal;
  width: 50px;
}

a.active {
  color: rgb(43, 43, 43);
  text-decoration: none;
  cursor: default;
  font-size: 20px;
}

a.active:hover {
  text-decoration: none;
}
.forecastHeadline {
  color: rgb(43, 43, 43);
  text-align: left;
  font-size: 25px;
  font-weight: 100;
  height: 30px;
  line-height: 28px;
  width: 618px;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-right: 10px;
}
hr {
  margin-top: 5px;
}
img.forecast-img {
  color: rgb(43, 43, 43);
  float: left;
  display: block;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -11px;
  margin-right: 0px;
  line-height: normal;
}
.weatherForecast-Temp {
  text-align: center;
  color: rgb(43, 43, 43);
  font-size: 20px;
  font-weight: 100;
  line-height: 19px;
  margin-bottom: 5px;
}
.weatherForecast-Temp strong {
  font-weight: bold;
}
small {
  position: relative;
  display: block;
  margin-left: 360px;
  margin-top: 6px;
  font-family: "Pragati Narrow", sans-serif;
  color: #ffe0d8;
  font-size: 16px;
}
